<html>
  <head>
    <title>Vue Sandbox</title>
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="app">
      <p>{{ 2 + 3 }}</p>
      <p>{{ a }}</p>
    </div>

    <div class="app">
      <p>{{ 2 + 3 }}</p>
      <p>{{ a }}</p>
    </div>

    <div id="twin0">
      <p>twin 0</p>
      <p>{{ a }}</p>
    </div>

    <div id="twin1">
      <p>twin 1</p>
      <p>{{ a }}</p>
    </div>

    <div id="vm" v-cloak>
      <p>{{ fullName() }}</p>

      <label for="first">First Name</label>
      <input type="text" id="first" v-model="firstName">

      <label for="last">Last Name</label>
      <input type="text" id="last" v-model="lastName">

      <a v-bind:href="url">DUCK</a>
      <a :href="url">DUCK</a>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
